build-essential
ca-certificates
cmake
cuda
curl
imagemagick
gdb
ghostscript
git
gzip
python-is-python3
python3
python3-pip
texlive-fonts-recommended
texlive-plain-generic
texlive-xetex
unzip
wget
x11-apps
